---
language: php
php:
  - '5.6'

sudo: required

services:
  - docker

env:
    global:
        - DEBIAN_FRONTEND=noninteractive

before_script:
    - sudo chmod -R 777 storage/

script:
    - ./impact.sh test --fail-fast-with-output
    - docker-compose logs
